
$font-body: "Barlow", serif;
$color-gray:#D9D9D9;
$color-light-black: #242424;
$color-hard-black: #151515;
$color-blue: #29ABE2;
$color-link: #17a2ff;
$color-gold: rgb(235, 235, 21);




$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;







